@charset "utf-8";

input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
/*  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-autofill : none;
  appearance: none;*/
}

body {
  width: 100%;
}
.header {
  text-align: center;
  margin-bottom: 50px;
  background-color: #caeffc;}

.header img {
  width: 200px;
  margin: 8px;
}

.wrapper-left {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 30px 0 0 40px;

}

h1 {
  color: #29abe2;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

hr {
  margin: 18px 0;
}

#background {
  text-align: center;
  font-size: 16px;
  width: 240px;
  height: 30px;
  margin-right: 10px;
}

.file {
  font-size: 16px;
  margin-left: 5px;
  color: #888;
  display: none;
}

.item{
  display: inline-block;
  margin-bottom: 40px;
  font-size: 16px;
  width: 100px;
}

#inp {
  width: 200px;
  font-size: 16px;
  padding: 4px;
  border: 1px solid #888;
  border-radius: 4px;
}

#fontsize {
  width: 100px;
  font-size: 16px;
  padding: 4px;
  border: 1px solid #888;
  border-radius: 4px;
}

#color-list {
  width: 100px;
  font-size: 16px;
  height: 26px;
  border: 1px solid #888;
  border-radius: 4px;
}

 #add_text {
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px;
  background-color: #29abe2;
 }

.wrapper-right {
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding: 30px;
}

#modal-download {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
}

#modal-contents-download {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: #fff;
}

#prev {
  margin: 320px 78px;
  font-size: 18px;
  float: right;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px;
  background-color: #29abe2;
}

#prev_btns {
  margin-top: 40px;
  width: 500px;
  height: 60px;
}

.prev_btn {
  width: 230px;
  font-size: 28px;
  padding: 10px 0;
  color: #29ABE2;
  font-weight: bold;
  border: 3px solid #29ABE2;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  float: left;
}

.prev_btn:hover {
  background-color: #29ABE2;
  transition: 0.4s;
  color: #fff;

}

.prev_btn:nth-child(1) {
  margin-right: 40px;
}

#modal-tutorial {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 100;
  /*display: none;*/
}

#modal-contents-tutorial {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 900px;
  height: 700px;
}

#modal-contents-tutorial img {
  position: absolute;
  width: 900px;
  height: 700px;
}

#modal-contents-tutorial .next {
  position: absolute;
  z-index: 999;
  bottom: 45px;
  left: 0;
  right: 0;
  margin: auto;
  width: 230px;
  height: 66px;
}

#help {
  position: fixed;
  right: 0;
  bottom: 0;
}

.help-contents {
  position: relative;
  width: 100px;
  height: 100px;
  font-size: 28px;
  padding: 10px 0;
  background-color: #29ABE2;
  color: #fff;
  font-weight: bold;
  border: 3px solid #29ABE2;
  border-radius: 5px;
  cursor: pointer;
}

/* temp_prev */

#front_prev {
}

#temp_prev {
  position: absolute;
  z-index: 3;
  border: 2px solid #000;
  margin-left: 80px;
  width: 500px;
  height: 300px;
  background-image: url();
  background-size: 100%;
  display: none;
}

#canvas_front {
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 300px;
  margin-left: 80px;
  border: 2px solid #000;
  background-size: 100%;
  background-image: none;
}

#canvas_back {
  width: 500px;
  height: 300px;
  cursor: move;
  margin-left: 80px;
  border: 2px solid #000;
  background-size: 100%;
  background-image: none;
 /* display: none;*/
}

#select_image {
  width:100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 23px;
  box-shadow: 0 0 0 1px #bfbfbf;
  color: #bfbfbf;
  cursor: pointer;
  display: block;
}

#temp_h1 {
    margin-bottom: 10px;
}

#select {
    width: 100%;
    padding: 35px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
}

#select img {
    cursor: pointer;
    margin: 0 10px 10px 0;
}

.selected {
    box-shadow: 0 0 0 3px #29ABE2;
}

}